.circle-icon {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container-fluid.bg-light {
    padding-top: 100px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    /* font-family: Arial, sans-serif; Facultatif : définissez une police de caractère si besoin */
}

.navbar {
    border-bottom: 1px solid #e0e0e0; /* Couleur et épaisseur du trait */
}
