@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.circle-icon {
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container-fluid.bg-light {
    padding-top: 100px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    /* font-family: Arial, sans-serif; Facultatif : définissez une police de caractère si besoin */
}

/*
.navbar {
    border-bottom: 1px solid #e0e0e0;  Couleur et épaisseur du trait
}
*/
.navbar-nav {
    flex: 1;
    justify-content: flex-start;
}

.btn-outline-light {
    margin-left: auto;
    border: 1px solid white;
}

.navbar-collapse {
    flex-grow: 0;
}

/* Animation de transition pour faire apparaître les cartes de bas en haut */
.fade-in {
    opacity: 0;
    transform: translateY(50px); /* Commence en bas */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0); /* Se remet en place */
}
