.form-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.payment-section, .shipping-section {
    margin-bottom: 30px;
}

.payment-section h2, .shipping-section h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

.payment-icons svg {
    margin-right: 5px;
}

.payment-form, .shipping-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input, .input-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-group input {
    margin-right: 10px;
}

